header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default .navbar-nav > li > a:hover{
color: #0fdb1e;
  border-bottom: 1px solid #333333;
  border-bottom-color: #0fdb1e;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;

}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;

}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 40px;
  padding-right: 40px;
  color: #0fdb1e;
  font-weight: bold;
}
body{
  background-color: black;
}
* {
  box-sizing: border-box;
}
.break{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 3px;
  background-color: #0fdb1e;
}

.column {
  display: inline-block;
  width: 370px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 350px;
  border: solid #0fdb1e ;
  border-width: thin;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
}
.row {
  text-align: center;
}
#HeaderCard1{
  color: #0fdb1e;
}
#TextCard1
{
  color: #0fdb1e;
  font-size: 15px;
  font-weight: bold;
}