header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default .navbar-nav > li > a:hover{
color: #0fdb1e;
  border-bottom: 4px solid #333333;
  border-bottom-color: limegreen;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;

}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;

}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 40px;
  padding-right: 40px;
  color: #0fdb1e;
  font-weight: bold;
}
body{
  background-color: black;
}
* {
  box-sizing: border-box;
}


.column {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: solid #0fdb1e ;
  border-width: thin;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.row{
  text-align:center;
}